button {
  color: $white;
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  &:active {
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
  &:hover {
    cursor: pointer;
  }
}

.button {
  font-size: 1.6rem;
  padding: 10px 30px;
  &--dark {
    background: rgb(50, 134, 201);
    background: radial-gradient(
      circle,
      rgba(50, 134, 201, 1) 0%,
      rgba(27, 89, 142, 1) 100%
    );
    border: 2px solid $white;
  }
  &--transparent {
    background: transparent;
    border: none;
  }
}
